@(tweetForm: Form[controllers.TweetController.TweetForm], users: Seq[models.Tables.UsersRow])(implicit messages: Messages)

@import helper._

@main("ツイート") {

    @users.map { u =>
        @helper.form(action = routes.TweetController.create(u.userId), 'class -> "container", 'role -> "form") {
            <fieldset>
                <div class="form-group">
                @inputText(tweetForm("text"), '_label -> "ツイート")
                </div>
                <div>
                    <input type="submit" value="保存" class="btn btn-success">
                </div>
            </fieldset>
        }
    }
}
