@* このテンプレートの引数 *@
@(tweets: Seq[models.Tables.TweetsRow])

@* main.scala.htmlを呼び出す *@
@main("自分のツイート一覧") {

    <div>
        <a href="@routes.TweetController.edit" class="btn btn-success" role="button">新規作成</a>
    </div>

    <div class="col-xs-6">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ツイート</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                @tweets.map { tweet =>
                    <tr>
                        <td>@tweet.tweetText</td>
                        <td>@helper.form(routes.TweetController.remove(tweet.tweetId)) {
                            <input type="submit" value="削除" class="btn btn-danger btn-xs"/>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}