@* このテンプレートの引数 *@
@import java.sql.Timestamp
@(query: Seq[(String, String, Timestamp)])

@* main.scala.htmlを呼び出す *@
@main("タイムライン") {

    <div class="col-xs-6">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>フォローしている人の名前</th>
                    <th>ツイート</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
            @query.sortBy(t => t._3.getTime).map { q =>
                <tr>
                    <td>@q._1</td>
                    <td>@q._2</td>
                    <td>@q._3</td>
                </tr>
            }
            </tbody>
        </table>
    </div>

}