@(userForm: Form[controllers.UserController.UserForm], users: Seq[models.Tables.UsersRow])(implicit messages: Messages)

@import helper._

@main("ユーザ作成") {

    @form(userForm("user_id").value.map(x => routes.UserController.update).getOrElse(routes.UserController.create), 'class -> "container", 'role -> "form") {
        <fieldset>
            <div class="form-group">
            @inputText(userForm("user_name"), '_label -> "ユーザネーム")
            </div>
            <div class="form-group">
            @inputText(userForm("password"), '_label -> "パスワード")
            </div>
            @userForm("id").value.map { value =>
                <input type="hidden" name="id" value="@value" />
            }
            <div>
                <input type="submit" value="保存" class="btn btn-success">
            </div>
        </fieldset>
    }

}