@* このテンプレートの引数 *@
@(query: Seq[(String, Option[String], Int)])

@* main.scala.htmlを呼び出す *@
@main("フォロー一覧") {

    <div class="col-xs-6">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>フォローしている人の名前</th>
                    <th>プロフィール</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
            @query.map { q =>
                <tr>
                    <td>@q._1</td>
                    <td>@q._2</td>
                    <td>@helper.form(routes.FollowController.remove(q._3)) {
                        <input type="submit" value="削除" class="btn btn-danger btn-xs"/>
                    }
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>

}